<div class="column">
    <h2 id="title">Login:</h2>
</div>

<section id="login-dashboard">
    <div>
        <label for="email-login">Email:</label>
        <input type="text" id="email-login"/>
    </div>

    <div>
        <label for="pw-login">Password:</label>
        <input type="password" id="pw-login"/>
    </div>

    <div>
        
    </div>
</section>